<section class="information">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center login-sec">
                    <h2 class="text-center">Informações do sistema</h2>
                    <h1>Desenvolvedora: Yvana Danielle Lopes</h1>
                    <p>E-mail: yvanadlopes@gmail.com</p>
                    <p>Telefone: (31) 99748-3575</p>
                    <p>Cargo: Desenvolvedora Front-end</p>
                    <p>Especialista em Angular 8, html5, css, sass, SharePoint serve 2016 e online, aplicação web</p>
                </div>
            </div>
        </div>
    </div>
</section>